*{
    margin: 0;
    padding: 0;
    font-size: medium;
}
form{
    color: white;
    text-align: center;
    padding: 15px;
    height: 500px;
    width: 400px;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    background: white;
    box-shadow: inset -5px -5px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
form input{
    font-size: medium;
}
form label{
    font-weight: 600;
    color: rgb(6, 163, 184);
}
form a{
    font-size: small;
    color: rgb(6, 163, 184);
}

form input:hover{
    box-shadow: 2px 2px rgb(6, 163, 184);
}

body {
margin: 0;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: linear-gradient(45deg, rgb(6, 163, 184), rgb(207, 7, 124));;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}

nav ul li {
--c: rgb(77, 234, 255);
color: var(--c);
font-size: 16px;
border: 0.3em solid rgb(6, 163, 184);
border-radius: 0.5em;
width: 12em;
height: 3em;
text-transform: uppercase;
font-weight: bold;
font-family: sans-serif;
letter-spacing: 0.1em;
text-align: center;
line-height: 3em;
position: relative;
overflow: hidden;
z-index: 1;
transition: 0.5s;
margin: 1em;
}

nav ul li span {
position: absolute;
width: 25%;
height: 100%;
background-color: rgb(253, 79, 181);
transform: translateY(150%);
border-radius: 50%;
left: calc((var(--n) - 1) * 25%);
transition: 0.5s;
transition-delay: calc((var(--n) - 1) * 0.1s);
z-index: -1;
}

nav ul li:hover {
color: black;
}
nav ul li a:hover{
    color: white;
}

nav ul li:hover span {
transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
--n: 1;
}

nav ul li span:nth-child(2) {
--n: 2;
}

nav ul li span:nth-child(3) {
--n: 3;
}

nav ul li span:nth-child(4) {
--n: 4;
}